<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Ancestry:</b>
  <%= @category.ancestry %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<ul id="menu">
  <% Category.roots.each do |category| %>
    <li><%= link_to category.name, category, class: ("active" if category.root == category) %></li>
    <div id="submenu">
      <%= render 'submenu_categories', categories: category.root.descendants.arrange %>
    </div>
  <% end %>
</ul>

<div id="breadcrumbs">
  <% @category.ancestors.each do |category| %>
    <%= link_to category.name, category %> &gt;
  <% end %>
</div>

<ul>
<% @category.pages.each do |page| %>
  <li>
    <%= page.name %>
    <%= page.content %>
  </li>
<% end %>
</ul>
